.App {
  text-align: center;
  background-color: rgb(170, 218, 158);
}

.home-name {
  margin-top: 0;
  padding: 0;
  font-size: 125px;
  font-weight: bold;
}

.home-title {
  margin-top: -50px;
  color: #9c2e35;
  font-size: 30px;
}

.about-photo {
  border-radius: 50%;
}